body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f0f4f8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  width: 350px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
  color: #444;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background-color: #0078D7;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #005fa3;
}

.forgot-link {
  display: block;
  text-align: center;
  margin-top: 15px;
  color: #0078D7;
  text-decoration: none;
}

.forgot-link:hover {
  text-decoration: underline;
}

.logo-container {
  position: absolute;
  top: 20px;
  right: 20px;
}

.logo-container img {
  width: 200px; /* Adjust size as needed */
  height: auto;
}

.register-link {
  text-align: center;
  margin-top: 25px;
  font-size: 15px;
}
.register-link a {
  color: #007BFF;
  text-decoration: none;
}
.register-link a:hover {
  text-decoration: underline;
}
